!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Battleship - Multiplayer Turn Based Stategy Sea Battle Game for Android
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %link{:href => "https://fonts.googleapis.com/css?family=Lato", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Muli", :rel => "stylesheet"}/
  %body#page-top
    %nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container
        %a.navbar-brand.js-scroll-trigger{:href => "#page-top"} Battleship
        %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
          Menu
          %i.fa.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            %li.nav-item
              %a.nav-link.js-scroll-trigger{:href => "#download"} Download
            %li.nav-item
              %a.nav-link.js-scroll-trigger{:href => "#features"} Features
            %li.nav-item
              %a.nav-link.js-scroll-trigger{:href => "#contact"} Contact
    %header.masthead
      .container.h-100
        .row.h-100
          .col-lg-7.my-auto
            .header-content.mx-auto
              %h1.mb-5 Battleship is a multiplayer mobile game where opponents battle to sink each other's ships first.
              %a.btn.btn-outline.btn-xl.js-scroll-trigger{:href => "#download"} Play Now!
          .col-lg-5.my-auto
            .device-container
              .device-mockup.nexus7.portrait.white
                .device
                  .screen
                    %img.img-fluid{:alt => "", :src => asset_path('android_phone_nautical_war.png')}/
                  .button
    %section#download.download.bg-primary.text-center
      .container
        .row
          .col-md-8.mx-auto
            %h2.section-heading Discover a turn-based strategy game!
            %p Our game is available on Android mobile devices! &nbsp;Download now!
            %p &nbsp;
            .badges
              %a.badge-link{href: 'https://play.google.com/store/apps/details?id=com.nauticalwar.nw', target: '_blank'}
                %img{:alt => "", :src => asset_path('google-play-badge.svg')}/
    %section#features.features
      .container
        .section-heading.text-center
          %h2 Unlimited Fun
          %p.text-muted Check out all the different game options!
          %hr/
        .row
          .col-lg-4.my-auto
            .device-container
              .device-mockup.nexus7.portrait.white
                .device
                  .screen
                    %img.img-fluid{:alt => "", :src => asset_path('android_phone_nautical_war.png')}/
                  .button
          .col-lg-8.my-auto
            .container-fluid
              .row
                .col-lg-6
                  .feature-item
                    %i.icon-game-controller.text-primary
                    %h3 Multi/Single Player
                    %p.text-muted Play against friends or robots!
                .col-lg-6
                  .feature-item
                    %i.icon-target.text-primary
                    %h3 Multiple Shot Modes
                    %p.text-muted Play a fast multishot game or enjoy a slower pace with a single shot game!
              .row
                .col-lg-6
                  .feature-item
                    %i.icon-anchor.text-primary
                    %h3 Ranks and Ratings
                    %p.text-muted Fight your way up to Admiral!
                .col-lg-6
                  .feature-item
                    %i.icon-compass.text-primary
                    %h3 Traditional Strategy
                    %p.text-muted Place your ships so your opponent can't find them!
    %section.cta
      .cta-content
        .container
          %h2
            Download Now.
            %br>/
            Start playing today.
          %a.btn.btn-outline.btn-xl.js-scroll-trigger{:href => "#download"} Play Now!
      .overlay
    %section#contact.contact.bg-primary
      .container
        %h2
          We
          %i.fa.fa-heart
          new players!

    %footer
      .container
        %p © Battleship 2012 &nbsp;&middot; &nbsp;All Rights Reserved.
        %ul.list-inline
          %li.list-inline-item
            = link_to 'Privacy', privacy_path, target: '_blank'
          %li.list-inline-item
            &middot;
          %li.list-inline-item
            = link_to 'Terms', terms_path, target: '_blank'
          -#%li.list-inline-item
          -#  &middot;
          -#%li.list-inline-item
          -#  %a{:href => "/faq"} FAQ

    %script{:src => asset_path("new-age.js")}
